.notes-list-container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  max-width: 300px;

  border-right: 1px solid #dededf;
}

.notes-list-container .header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notes-list {
  overflow-y: auto;
}
